node_modules
.next
dist
coverage
.env
.env.local
apps/web/.env.local
*.log
*.tsbuildinfo
packages/db/prisma/seed.js
packages/db/prisma/seed.d.ts
packages/db/prisma/seed.d.ts.map
packages/db/prisma/migrations
